.hero-section{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 0em 1em;
}

.form-card{
    position: relative;
    border-radius: 40px;
    width: 90%;
    max-width: 650px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 3em;

    box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.15);
    background-color: var(--white);
    opacity: 1;
}

.form-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:2em;
}

.form-title{
    text-align: center;
}

.form-detail{
    max-width: 350px;
    text-align: center;
    padding-top: 1em;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    transition: all 0.5s ease;
}

.result .form{
    opacity: 0;
}

.result.active .form{
    display: none;
}

.input-container{
    width: 100%;
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.input-container + .input-container{
    margin-top: 1em;
}

.input-label{
    font-size: 0.85em;
    top: 50%;
    right: 5%;
    transform: translate(0%, -50%);
    position: absolute;
}

.input-field{
    width: 100%;
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
    font-family: "Poppins", sans-serif;
    font-size: 0.85em;
}

.input-field-app p{
    width: max-content;
}

.input-field-app,.input-field-hour,.input-field-pow{
    overflow-x: scroll;
    flex: 1 1;
    width: 25%;
    font-size: 0.75rem;
}

.input-field-hour,.input-field-pow{
    margin-left: 1em;
}

/* .input-field-pow{
    width: auto;
    margin-left: 1em;
}

.input-field-hour{
    width: auto;
    margin-left:1em;
} */

.input-field:focus{
    color: var(--dark);
}

.cta{
    padding: 0.75em;
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
    font-family: "Poppins", sans-serif;
    font-size: 0.85em;
    font-weight: 500;

    background-color: var(--lavender-light);
    color: var(--dark);
    cursor: pointer;
}

.appliance-select{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.cta-add, .cta-del{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
}

.cta-del{
    width: 49px !important;
    background-color: rgb(228, 123, 123);
}

.form-res{
    text-align: center;
    opacity: 0;
    display: none;
    transition: all 0.5s ease;
}

.result .form-res{
    opacity: 1;
}

.result.active .form-res{
    display: block;
}

.res-label{
    margin: 0 auto;
    max-width: 325px;
}

table{
    table-layout: fixed;
    width: 100%;
    margin-top: 2em;
}

th,td{
    padding: 0.5em 0em;
}
.res-hr{
    pointer-events: all;
    /* cursor: pointer; */
}
.res-hr.clicked{
    border: 2px solid green;
    position: relative;
    cursor: pointer;
}

.res-hr.clicked .up{
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    left: 103%;
    top: 7%;
    transform: scale(1.4);
    cursor: pointer;
    width: 10px;
    height: 10px;
}

.res-hr.clicked .down{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 103%;
    bottom: 7%;
    transform: scale(1.4);
    cursor: pointer;
    width: 10px;
    height: 10px;
}

tr:nth-child(even) {background-color: var(--lavender-light);}

.alert{
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 1em;
    color: green;
    font-weight: 500;
}

.cta-reset{
    margin-top: 3em;
}

.hero-image-container{
    width: 22%;
    max-width: 400px;

    position: absolute;
    right: 2%;
    top: 420px;
    transform: translate(0%,-60%);
    transform-origin: 50% -17%;

    z-index: -10;
}

.background-blob{
    z-index: -10;
    position: absolute;
    top: 0;
    opacity: 0.5;
    transform: scale(2);
}

.svg{
    position: fixed;
    transform: scale(0.5);
    opacity: 0.5;
    z-index: -1;
}

.svg-2{
    left: 73%;
    bottom: -13%;
}

.svg-4{
    left: -7%;
    bottom: 30%;
}

.svg-6{
    left: 65%;
    bottom: 85%; 
}

@media (max-width:1000px){
    .hero-image-container{
        display: none;
    }
}
@media (max-width:600px){
    .form-container{
        padding: 0;
    }
    .form-card{
        padding: 2em;
    }

    table.form-res-table td{
        font-size: 0.95rem !important;
    }

    .hero-section{
        margin: 4em 0em 2em 0em;
    }
    .form-card{
        box-shadow: none;
        border-radius: 0px;
        width: 100%;
        padding: 0em;
        background: none;
    }

    .res-hr.clicked .up{
        left: 90%
    }
    
    .res-hr.clicked .down{
        left: 90%
    }

    .svg-2{
        left: 66%;
        bottom: -13%;
    }
    
    .svg-4{
        left: -31%;
        bottom: 30%;
    }
    
    .svg-6{
        left: 46%;
        bottom: 87%;
    }
}
@media (max-width:370px){
    .form-res-table{
        font-size: 0.85rem !important;
    }
}